.tick{
    background-color: #59AAFB;
    font-size: 13px;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 4px;
    border: none;
  }

  ul li{
    list-style: none;
  }

  ul button{
    cursor: pointer;
  }
  .child-btn{
    height: 12px;
    width: 12px;
    font-size: 8px;
  }